input[type=submit] {
    width: 100%;
    background-color: dodgerblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font: bolder;
}

input[type=submit]:hover {
    background-color: dodgerblue;
}

input[type=submit]:disabled {
    background-color: darkred;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid dodgerblue;
    border-radius: 4px;
    box-sizing: border-box;
    color: dodgerblue;
}

input[pattern]:invalid {
    border: 1px solid red;
}

input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid dodgerblue;
    border-radius: 4px;
    box-sizing: border-box;
}

.h2 {
    text-align: center;
    display: block;
    color: dodgerblue;
}

form {
    position: absolute;
    right: 30%;
    left: 30%;
    top: 20%;
    margin: 20px;
    max-width: 800px;
    padding: 16px;
    background-color: transparent;
    border: 1px solid dodgerblue;
    border-radius: 10px;
    box-shadow: gray;
}

h1 {
    text-align: center;
    color: dodgerblue;
}

p {
    text-align: justify-all;
    color: dodgerblue;
}

h3 {
    text-align: left;
    color: dodgerblue;
}

body {
    background-image: url("./images/background.png");
}

.active {
    background-color: dodgerblue;
}

.menu {
    position: absolute;
    right: 10px;
    top: 10px;
    margin: 10px;
    background-color: dodgerblue;
}